/* RESET
========================= */
*, *:before, *:after{                                       /* removes space between content and browser */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;                                     /* takes the font size of the browser */
}

input, select, iframe, button {
    border: none;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .4s ease-in-out;
}
a:hover {
    color: #f9014d;
}

img {
    max-width: 100%;                                        /* image doesn't break; fit inside the box */
    border: none;
}


/* GENERAL
========================= */
.section {
    float: left;
    width: 100%;
}
.section:not(:first-of-type) {
    margin-top: 60px;
}
.section-header {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
}
.section-header h1 {
    font-size: 38px;
    font-weight: normal;
}

.content {
    max-width: 960px;   /* desktop */
    width: 90%;         /* mobile */
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}

/* BUTTON LOAD MORE */
.loadmore {
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    transition: all 4.s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.loadmore:hover {
    color: #a70606;
    border: 1px solid #a70606;
}


/* BOX */
.box {
    display: block;
    position: relative;                                     /* to be able to use floating div (absolute) inside the box */
    overflow: hidden;                                       /* image accompany the box; round border */
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.box-name {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
    background: #f9014d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.box-cover {                                                /* solves the problem of the rounded border on the bottom, the 'box-name' */
    font-size: 0;
    line-height: 1em;   /* 16px */
}
.box-cover img {
    width: 100%;
    transform: scale(1.1);                                  /* effect when passing the mouse over, the image 'sinks' */
    -webkit-transform: scale(1.1);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}
.box-details {
    position: absolute;                                     /* above the image */
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
    font-size: 15px;
}
.box-details:before {                                      /* to show the black gradient */
    content: "";
    position: absolute;
    z-index: 1;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    visibility: hidden;
    background: linear-gradient(to bottom, transparent, #000);
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    transform: translate(0,50%);
    -webkit-transform: translate(0,50%);
}
.box-details-info {
    position: relative;
    z-index: 2;                                             /* above the 'shadow' */
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    transform: translate(0,50%);                            /* go down the box */
    -webkit-transform: translate(0,50%);                    /* left: 0; top: 50% */
}
.box-details-info h2 {
    font-size: 20px;
}

/* box:hover */
.box:hover .box-cover img {                                 /* when passing the mouse over the boxx, hit the box-cover on img */
    transform: scale(1);                                    /* return the image to original size */
    -webkit-transform: scale(1);
}
.box:hover .box-details:before,
.box:hover .box-details-info {                             /* to scroll down the info */
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);                              /* back to 0 */
    -webkit-transform: translate(0,0);    
}

/* HEADER */
.header {
    position: fixed;
    width: 100%;
    padding-top: 30px;                                      /* spacing */
    z-index: 6;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.header .logo img {
    max-width: 150px;
}
.header.fixed {
    background: #2c3e50;
    padding: 10px 0 5px 0;
}

/* SEARCH */
.search-box {
    text-align: center;
    color: #fff;
    padding: 100px 0;                                       /* top and button: 100 / left and right:0 */
    background-image: url(../img/bg-search.jpg);
}
.search-box h1 {
    font-size: 37px;
    font-weight: bold;
}
.search-box .tagline {
    font-size: 26px;
}
.search-box form {
    position: relative;
    display: inline-block;
    width: 90%;
    max-width: 500px;
    margin-top: 40px;
}
.search-box form input[type="search"] {
    width: 100%;
    height: 50px;
    font-size: inherit;
    color: #2c3e50;
    padding: 0 70px 0 10px;                                 /* shows button to clear the search */
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
.search-box form button {
    background: #a70606;
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    top: 0;
    right: 0;
    cursor: pointer;
    border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

/* STATISTICS */
.statistics {
    background: #fff;
    max-width: 960px;
    width: 90%;                                             /* mobile */
    padding: 30px 0;
    margin: -40px auto 0 auto;                              /* due to mobile floating */
    text-align: center;
    display: flex;
    display: -webkit-flex;
    align-items: center;                                    /* box sub-property */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,.3);
}
.statistics-item span {
    font-size: 33px;
    font-weight: bold;

}
.statistics-item p {
    font-size: 20px;
}

/* DESTINATION */
.destination-col {
    margin-bottom: 20px;
}

/* PARALLAX */
.parallax {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 23px;
    padding: 160px 0;
    margin-top: 60px;
    background-image: url(../img/bg-paralax.jpg);
}
.parallax h1 {
    font-size: 38px;
    margin-bottom: 10px;
}
.parallax button {
    background: #f9014d;
    font-size: 20px;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all .4s ease-in-out;
}
.parallax button:hover {
    background: #e92863;
}

/* FEATURED */
.featured-col {
    margin-bottom: 20px;
}

/* WITNESSES */
.witnesses {
    padding: 100px 0;
    background-image: url(../img/bg-witnesses.jpg);
}
.witnesses-article {
    float: left;
    background: rgba(255, 255, 255, .7);
    width: 100%;
    font-size: 12px;
    padding: 15px;
    margin-bottom: 20px;                                    /* spacing between the blocks */
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.witnesses-article h1 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    padding-left: 12px;
    border-left: 8px solid #ccc;
}
.witnesses-article .image {
    overflow: hidden;
    float: left;
    margin-right: 10px;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.witnesses-article p {
    display: flex;                                          /* centered on the image and no need to use padding, according to the text it'll be centered */
    flex-direction: column;
    justify-content: center;
    height: 83px;    
}
.witnesses-article .name {
    color: #a70606;
    font-weight: bold;
}

/* FOOTER */
.footer {
    background: #181818;
    float: left;
    width: 100%;
    color: #fff;
    padding: 30px 0;
}
.footer-col {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.footer-col h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-col-links li {
    padding: 10px 0;
} 
.footer-col-links li:not(:last-of-type) {
    border-bottom: 1px solid #fff;
}
.footer-col-sociais li {
    padding: 10px 0;
}
.footer-col-sociais li .fab {
    background: #000;
    font-size: 20px;
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* COPYRIGHT */
.footer-autorais {
    padding-top: 20px;
    border-top: 1px solid #fff;
    color: #ccc;
}


/* BREAKPOINTS
=========================
MAX-WIDTH */
@media (max-width: 767.9px) {                               /* MOBILE FLOATING */
    .nav-toggle {                                           /* 3 bars menu */
        color: #fff;
        font-size: 22px;
    }

    .nav-close {                                            /* menu close button */
        font-size: 22px;
    }

    .header .nav.active {                                   /* makes the menu appear (script.js) */
        right: 0;
    }
    .header .nav {                                          /* navigation menu */
        background: #fff;
        width: 250px;
        height: 100%;
        position: fixed;
        padding: 15px;                                      /* spacing */
        right: -100%;                                       /* disappear from the screen */
        top: 0;
        z-index: 10;
        transition: right .7s ease-in-out;                  /* animation menu */
    }

    .header .nav ul li {
        padding: 15px 5px;
        font-size: 20px;
        border-bottom: 1px solid #ccc;
    }

    .statistics {
        flex-direction: column;                             /* column content */
    }
    .statistics-item {
        min-width: 90%;
    }
    .statistics-item:not(:last-of-type) {                   /* last-of-type stylizes all statistics-item elements of the html, except the last one */
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }
}


/* BREAKPOINTS
=========================
MIN-WIDTH */
@media (min-width: 768px) {                                 /* MOBILE FLOATING */
    .nav-toggle, .nav-close {                               /* hides 3 bars menu and the close button on the desktop version */
        display: none;
    }
    .header .nav {
        float: right;
        margin-top: 13px;
    }
    .header .nav ul li {
        display: inline-block;                              /* organizes in lines */
        margin-left: 20px;                                  /* spacing */
    }
    .header .nav ul li a {
        color: #fff;
    }
    .header .nav ul li a:hover {
        color: #f9014d;
    }

    .search-box {
        padding: 200px 0;
    }
    
    .statistics {
        margin-top: -65px;                                  /* goes up a little bit more */
    }
    .statistics-item {
        text-align: center;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .statistics-item:not(:last-of-type) {                   /* last-of-type stylizes all statistics-item elements of the html, except the last one */
        border-right: 1px solid #ccc;
    }

    /* DESTINATION */
    .destination-col {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;
        float: left;
    }
    .destination-col:nth-child(odd) {                       /* every line he skips, reset the other */
        margin-right: 0;
    }
    .destination-col:first-child {
        width: 100%;
    }

    /* FEATURED */
    .featured-col {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;
        float: left;
    }
    .featured-col:nth-of-type(2n+0) {                       /* 2 in 2 resets the margin-right */
        margin-right: 0;
    }

    /* WITNESSES */
    .witnesses-article {
        width: calc((100% - 8%) / 3);                       /* 92% / 3 */
        margin-right: 4%;
        margin-bottom: 4%;
    }
    .witnesses-article:last-of-type {
        margin-right: 0;
    }
}


@media (min-width: 900px) {
    /* DESTINATION */
    .destination-col:nth-child(odd),
    .destination-col {
        width: 32%;
        margin-right: 2%;
    }
    .destination-col:nth-of-type(3n+2) {                     /* count from the third; skips two; reset the margin of the third row */
        margin-right: 0%;
    }
    .destination-col:first-child {
        width: 66%;
    }
}


@media (min-width: 960px) {
    /* RODAPÉ */
    .footer-col {
        width: 45%;
    }
    .footer-col:nth-child(2) {
        width: 30%;
        margin-left: 5%;
    }
    .footer-col:nth-child(3) {
        width: 15%;
        float: right;
    }
}


/* AUXILIARY
========================= */
.bg-fixed {                                                  /* background */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.text-center {                                              /* centralized content */
    text-align: center;
}
.text-left {                                                /* when need to put text on the left */
    text-align: left;
}
.text-right {                                               /* when need to put text on the right */
    text-align: right;
}

.fl-left {
    float: left;
}
.fl-right {
    float: right;
}