/* HEADER */
.header {
	border-top: 6px solid #2c3e50;									  /* dark blue top bar */
}

/* NAV TOGGLE */
#nav-toggle {															/* MOBILE: shows the menu */
	border-bottom-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	position: fixed;
	z-index: 15;
	display: none;
	background: #2c3e50;
	padding: 15px;
	top: 0;
	right: 0;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}
#nav-toggle span {														/* MOBILE: 3 menu bars - <span> */
	border-radius: 1px;
	height: 2px;
	width: 30px;
	display: block;
	background: #fff;
	-webkit-border-radius: 1px;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
#nav-toggle span:nth-child(2) {											/* MOBILE: separates the 3 menu bars - <span> */
	margin: 6px 0;
}
#nav-toggle.active span:nth-child(1) {									/* MOBILE: turns the 3 menu bars into X - <span> */
	transform: rotate(45deg) translate3d(6px,6px,0);					/* .active is what makes it work, by jquery */
	-webkit-transform: rotate(45deg) translate3d(6px,6px,0);
}
#nav-toggle.active span:nth-child(2) {
	opacity: 0;
}
#nav-toggle.active span:nth-child(3) {
	transform: rotate(-45deg) translate3d(6px,-5px,0);
	-webkit-transform: rotate(-45deg) translate3d(6px,-5px,0);
}

/* HEADER */
.header-logo {															/* stylize the logo */
	width: 180px;
	padding: 22px 0;
	float: left;
}

.header-nav {															/* navigation menu */
	float: left;
	padding: 25px 0;
}
.header-nav ul li {
	display: inline-block;
	margin: 0 3px;
	position: relative;
}
.header-nav ul li a {
	color: #2c3e50;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.875rem;	/*14/16 = 0.875*/
}
.header-nav ul li a:hover {
	color: #f47933;
}
.header-nav ul li a.active {
	color: #f47933;
}

.header-search {														/* MOBILE: stylizes the search */
	position: relative;
	float: right;
	margin: 8px 0;
}
.header-search input::-webkit-input-placeholder {						/* MOBILE: changes text color in search - Chrome/Opera/Safari */
	color: #fff;
}
.header-search input:-moz-placeholder {									/* MOBILE: changes text color in search - Mozilla Firefox 4 to 18 */
	color: #fff;
	opacity: 1;
}
.header-search input::-moz-placeholder {								/* MOBILE: mchanges text color in search - Firefox 19+ */
	color: #fff;
	opacity: 1;
}
.header-search input:-ms-input-placeholder {							/* MOBILE: changes text color in search - IE 10+ */
	color: #fff;
}
.header-search input::-ms-input-placeholder {							/* MOBILE: changes text color in search - Microsoft Edge */
	color: #fff;
}
.header-search input::placeholder {										/* MOBILE: changes text color in search - Browsers modernos */
	color: #fff;
}
.header-search input {
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	background: #01c0b5;
	padding: 10px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}
.header-search button {													/* MOBILE: stylizes the search button */
	position: absolute;
	top: 50%;
	right: 8px;
	color: #fff;
	font-size: 1.5rem;
	background: transparent;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.header-social {														/* MOBILE: social icons */
	text-align: center;
	margin: 20px 0;
	display: none;														/* make disappear from desktop and mobile, so put the .header-social on @media */
}
.header-social a {
	color: #fff;
	font-size: 2rem;
	margin: 0 10px;
}

/* AGENCY */
.agency {
	background: #f5f5f5;
	padding: 50px 0;
}
.agency-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.375rem;	/* 22/16=1.375 */
}
.agency-title strong {
	color: #01c0b5;
	font-size: 1.875rem;	/* 30/16=1.875 */
}

.agency-item {
	margin-top: 30px;
	text-align: center;
}
.agency-item-icon {
	background: #01c0b5;
	color: #fff;
	width: 100%;
	padding: 20px;
	font-size: 6rem;													/* big icons */
	position: relative;
}
.agency-item-icon:before {												/* arrow below the icon */
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -22px;
	border-left: 22px solid transparent;
	border-right: 22px solid transparent;
	border-top: 22px solid #01c0b5;
}

.agency-item h2 {
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	font-size: 2rem; /* 32/16=2 */
	margin: 25px 0 5px 0;
	text-transform: uppercase;
}

/* CURIOSITIES */
.curiosities {
	padding: 50px 0;
	text-align: center;
	color: #fff;
	background-image: url(../images/agency-curiosities-bg.jpg);
	background-attachment: fixed;										/* fixed image */
	background-position: center center;
	background-size: cover;
}
.curiosities p {
	font-size: 1.875rem;	/* 30/16=1.875 */							/* title */
	font-weight: 700;
}
.curiosities ul {
	font-family: 'Oswald', sans-serif;
	font-size: 1.25rem;
	font-weight: 400;
	margin-top: 20px;
}
.curiosities ul span {
	font-family: 'Oswald', sans-serif;
	font-size: 3.75rem;
	color: #01c0b5;
	display: block;
}

/* TEAM */
/* Modal */
.dialog-team-photo {
	height: 226px;
	overflow: hidden;
	text-align: center;
}
.dialog-team-photo img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.dialog-team-social {
	text-align: center;
	margin-bottom: 20px;
}
.dialog-team-social a {
	color: #2c3e50;
	font-size: 2rem;
	margin: 0 10px;
}
.dialog-team-social a:hover {
	color: #f47933;
}
.dialog-team-habilidades span {
	float: right;
}
.dialog-team-habilidades li {
	margin-bottom: 10px;
}
.dialog-team-habilidades li div {
	background: #eee;
	height: 13px;
	position: relative;
}
.dialog-team-habilidades li div span {
	background: #01c0b5;
	height: 100%;
	position: absolute;
	width: 1%;
}

/* TEAM CONTENT */
.team {
	background: #f5f5f5;
	padding: 50px 0;
}
.team-list {
	text-align: center;
	font-size: 0;														/* use in a specific case, because in the blocks the font size is defined (span/link/strong) */
}
.team-list li {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	background: #fff;
	width: 100%;
	max-width: 322px;
	display: inline-block;												/* use to work the previous text-align */
	border: 1px solid #ccc;
	border-top: 0;
}
.team-photo {															/* team: photo */
	height: 240px;
	overflow: hidden;
	position: relative;
}
.team-photo img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.team-photo-hover {
	z-index: 1;
	position: absolute;
	background: rgba(45,63,81,.85);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	/* to works the rotation effect */									/* team: rotation effect inverted position */
	opacity: 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	transform: scale(.4) rotate(400deg);
	-webkit-transform: scale(.4) rotate(400deg);
}
.team-photo-hover div {													/* team: center the image text */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.team-photo-hover span {
	color: #fff;
	font-size: 1.125rem;												/* 18/16=1.125 */
	position: relative;
}
.team-photo-hover span:before,											/* team: left title bar */
.team-photo-hover span:after {											/* team: right title bar */
	content: "";
	background: #fff;
	position: absolute;
	width: 40px;
	height: 1px;
	top: 50%;
}
.team-photo-hover span:before {											/* team: left title bar position */
	left: -50px;														/* space between text and bar - 40+10 */
}
.team-photo-hover span:after {											/* team: right left title bar position */
	right: -50px;														/* space between text and bar - 40+10 */
}
.team-photo-hover a {
	color: #fff;
	font-size: 0.875rem;
	background: #f47933;
	padding: 3px 10px;
	top: 5px;
}
.team-photo-hover a:hover {
	background: #ca5818;
}

.team-title {
	padding: 10px 0;
	position: relative;
	overflow: hidden;
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
}
.team-title:before {													/* team: orange bar title effect */
	position: absolute;
	content: "";
	background: #f47933;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}
.team-title strong {
	font-size: 1.125rem;
	font-weight: 400;
	position: relative;
}

.team-list li:hover .team-photo-hover {									/* team: rotation effect original position */
	opacity: 1;
	border-radius: 0;
	-webkit-border-radius: 0;
	transform: scale(1) rotate(0deg);
	-webkit-transform: scale(1) rotate(0deg);
}
.team-list li:hover .team-title:before {								/* team: original orange bar title effect */
	top: 0;
}
.team-list li:hover .team-title {										/* team: white color orange bar title effect */
	color: #fff;
}

/* SERVICES */
.services {
	padding: 50px 0;
	background-image: url(../images/services-bg.jpg);
	background-attachment: fixed;										/* fixed image */
	background-position: center center;
	background-size: cover;
}
.services-item {
	background: #fff;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, .3);
}
.services-item:not(:first-child) {
	margin-top: 30px;
}
.services-item header {
	padding: 15px;
}
.services-item header i {
	font-size: 3rem;
	background: #fff;
	width: 100px;
	height: 100px;
	line-height: 100px;													/* center icons */
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.services-item header h2 {
	font-size: 1.5rem;
	color: #fff;
	margin-top: 10px;
}
.services-item p {
	font-size: 0.875rem;
	margin-top: 10px;
}
.services-item p strong {
	font-size: 1.5rem;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}
.services-item ul li {
	font-size: 1.125rem;
	border-bottom: 2px dotted #ccc;									  /* dotted border */
	padding: 5px 0;
}
.services-item a {														/* Services: button */
	display: inline-block;												/* Services: button adjusts below the list */
	font-size: 0.875rem;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 10px 0;														/* button spacing */
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.services-item.design a:hover,											/* Services: button effect */
.services-item.estrategia a:hover,
.services-item.digital a:hover,
.services-item.marketing a:hover {
	background: #f47933;
}

.services-item.design header, .services-item.design a {					/* Services-Design: header and link */
	background: #e04646;
}
.services-item.design header i {										/* Services-Design: icon */
	color: #e04646;
}

.services-item.estrategia header, .services-item.estrategia a {			/* Services-Strategy: header and link */
	background: #0091cd;
}
.services-item.estrategia header i {									/* Services-Strategy: icons */
	color: #0091cd;
}

.services-item.digital header, .services-item.digital a {				/* Services-Digital: header and link */
	background: #00ad45;
}
.services-item.digital header i {										/* Services-Digital: icon */
	color: #00ad45;
}

.services-item.marketing header, .services-item.marketing a {			/* Services-Marketing: header and link */
	background: #eebb00
}
.services-item.marketing header i {										/* Services-Marketing: icon */
	color: #eebb00;
}
/* second option to make the effect, have to stay down here to works:
.services-item a:hover {
	background: #f47933;
}
*/

/* WITNESSES */
.witnesses {
	background: #f5f5f5;
	padding: 50px 0;
}
.witnesses-photo {
	overflow: hidden;
	width: 60px;
	height: 60px;
	float: left;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.witnesses-info {
	float: right;
	width: calc(100% - 70px);
}
.witnesses-info header {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.witnesses-info header h2 {
	line-height: 1;
	font-size: 1.2rem;
	max-width: 92%;
	float: left;
}
.witnesses-info header h2 span {
	font-size: 1rem;
	color: #999;
	font-weight: 400;
	display: block;
}
.witnesses-info header i {
	font-size: 1rem;
	color: #999;
	float: right;
	top: 3px;
	position: relative;
}

/* PORTFOLIO */
.portfolio-nav {
	text-align: center;
	margin: 10px 0;
}
.portfolio-nav li {
	display: inline-block;
	margin: 0 5px 10px 5px;
}
.portfolio-nav li a {
	color: #2c3e50;
	font-family: 'Oswald', sans-serif;
	font-size: 1.125rem;
	text-transform: uppercase;
	display: block;
	padding: 2px 10px;
	border: 2px solid #2c3e50;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.portfolio-nav li a:hover {
	color: #f47933;
	border: 2px solid #f47933;
}
.portfolio-nav li a.active {											/* when you enter the site, the first link is already marked */
	color: #f47933;
	border: 2px solid #f47933;
}

.portfolio {
	float: left;
	width: 100%;
	position: relative;
	display: none;
}
.portfolio.visible {													/* like .active, but with the image categories */
	display: block;
	animation: animaPortfolio .7s ease;
	-webkit-animation: animaPortfolio .7s ease;
}
@keyframes animaPortfolio {												/* animation block */
	0% {
		transform: scale(.5);
		-webkit-transform: scale(.5);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
.portfolio img {
	display: block; 													/* remove spacing between images */
}
.portfolio-hover {
	z-index: 1;															/* border on the hover over the image */
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(45, 63, 81, .9);
	color: #fff;
	text-align: center;
	transition: all 300ms ease-in-out;									/* hover effect on the image */
	-webkit-transition: all 300ms ease-in-out;
	box-shadow: 0 0 0 10px rgba(255, 255, 255, .8);					  /* border on the hover over the image */
}
.portfolio-hover > div {												/* > makes style for the first div inside it */
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 									/* center block horizontally and vertically */
	-webkit-transform: translate(-50%, -50%);
}
.portfolio-hover strong {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
.portfolio-hover label {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}
.portfolio-hover a {
	font-size: 4rem;
	color: #fff;
	line-height: 1;
}
.portfolio-hover a:hover {
	color: #f47933;
}
.portfolio-hover a i {
	line-height: 1;
}
.portfolio:hover .portfolio-hover  {									/* show the hover when pass the mouse over the main block */
	opacity: 1;
}

/* CLIENTS */
.clients {
	background: #f5f5f5;
	padding: 50px 0;
	text-align: center;
}
.clients p {
	font-size: 1.875rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}
.clients ul li {
	font-size: 5rem;
	background: #fff;
	padding: 5px 20px;
	margin-top: 20px;
	line-height: 1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* CONTACT */
.contact-infos .content,												/* <div class="row contact-infos"> */
.contact-form .content {												/* <div class="row contact-form"> - <div class="content"> */
	max-width: 800px;
}

.contact-infos {														/* contact infos */
	background: url(../images/contact-bg.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	padding: 10% 0;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
}
.contact-infos span {
	background: rgba(255, 255, 255, .7);
	color: #2c3e50;
	font-size: 2.5rem;
	font-family: 'Oswald', sans-serif;
	display: block;
	margin: 5px auto 0 auto;
}

.contact-form p {														/* contact form */
	text-align: center;
	margin: 50px; 0 20px 0;
	font-size: 5rem;
}
.contact-form label {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.contact-form label input,
.contact-form label textarea {
	float: left;
	width: 100%;
	height: 50px;
	font-size: 1rem;
	color: #2c3e50;
	padding: 5px;
	margin-top: 5px;
	border: 2px solid #eee;
}
.contact-form label input[type="checkbox"] {
	height: auto;
	width: auto;
	margin-right: 5px;
}
.contact-form label textarea {
	height: 143px;
}
.contact-form label:nth-child(3) span {									/* text is aligned, not broken on mobile */
	width: 90%;
	display: inline-block;
}
.contact-form button {
	width: 100%;
	display: inline-block;
	text-align: center;
	color: #fff;
	background: #f47933;
	font-size: 2.6rem;
	line-height: 1;
}
.contact-form button i {
	line-height: 1;
	margin-top: 2px;
}

/* BLOG */
.blog {
	background: #f5f5f5;
	padding: 50px 0;
}
.blog .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blog-item {
	background: #333;
	color: #fff;
	margin-bottom: 30px;
}
.blog-item:last-child {
	margin-bottom: 0px;
}
.blog-item-thumb {
	position: relative;
}
.blog-item-thumb img {
	display: block;
}
.blog-item-thumb span {
	position: absolute;
	right: 10px;
	padding: 3px 10px;
	font-size: 0.6875rem;	/* 11/16=0.6875 */
}
.blog-item-thumb span:first-child {
	color: #01c0b5;
	background: rgba(255, 255, 255, .9);
	bottom: 0;
}
.blog-item-thumb span:nth-child(2) {
	color: #fff;
	background: #01c0b5;
	top: 100%;
}
.blog-item h2 {
	font-size: 1rem;
	margin: 10px 0 5px 0;
	max-width: 88%;														/* title is not over the comments icon */
}
.blog-item p {
	font-size: 0.875rem;
	padding-bottom; 10px;
	width: 100% 
}
.blog-item .blog-link {
	font-size: 0.875rem;
	text-align: right;
}
.blog-item .blog-link a {
	color: #f47933;
	font-weight: 700;
}
.blog-item .blog-link a:hover {
	text-decoration: underline;
}

/* FOOTER */
.footer {
	background: #2c3e50;
	padding: 20px;
	margin-top: 30px;
	color: #fff;
}
.footer .content {
	max-width: 800px;
}
.footer-col {
	text-align: center;
	margin-top: 10px;
}
.footer-redes a {
	color: #fff;
	font-size: 2rem;
	margin: 0 10px;
	line-height: 1;
}





/* BREAKPOINTS
==================================================
MAX-WIDTH */

@media (max-width: 959.9px) {											/* MOBILE: dependent menu, appears up to 960px */
	#nav-toggle, .header-social {
		display: block;
	}

	.header {															/* MOBILE: stylize header */
		height: 58px;
	}

	#carousel_principal {												/* Carousel principal */
		height: calc(100% - 58px);
	}

	.header-logo {														/* MOBILE: stylize logo */
		max-width: 180px;
		width: 60%;
		padding: 12px 0;
	}

	.header-collapse {													/* MOBILE: stylize menu */
		overflow-y: auto;
		position: fixed;
		background: rgba(45,63,81,.95);
		width: 100%;
		height: 100%;
		z-index: 10;
		padding: 15px;
		top: -100%;
		left: 0;
		transition: top .4s ease;
		-webkit-transition: top .4s ease;
	}
	.header-collapse.active {											/* MOBILE: mmenu disappears from the screen */
		top: 0%;
	}

	.header-nav {
		padding: 25px 0;
		float: none;
	}
	.header-nav ul li {													/* MOBILE: centers the text within the menu */
		width: 100%;
		text-align: center;
		padding: 5px 0;
	}
	.header-nav ul li a {												/* MOBILE: stylizes text within the menu */
		color: #fff;
		font-size: 1.4rem;
	}

	.header-search {													/* MOBILE: stylizes the search size - <div class="header-search"> */
		max-width: 300px;
		margin: 0 auto;
		float: none;
	}
	.header-search input {
		padding: 15px;
	}
}





/*
(Media Query)
==================================================
MIN-WIDTH */

@media (min-width: 480px) {
	/* CURIOSITIES */
	.curiosities ul li {
		float: left;
		width: 50%;
	}

	/* WITNESSES */
	.witnesses-photo {
		width: 100px;
		height: 100px;
	}
	.witnesses-info {
		width: calc(100% - 120px);
	}

	/* CLIENTS */
	.clients ul li {
		float: left;
		width: 48%;
		margin: 4% 4% 0 0;
	}
	.clients ul li:nth-of-type(2n+0) {
		margin-right: 0;
	}

	/* CONTACT */
	.contact-infos span {
		width: 80%;
	}
}

@media (min-width: 667px) {
	/* TEAM */
	.team-list li {
		width: 50%;
	}
	.team-list li:nth-of-type(2n+0) {									/* when it's 2 in 2, reset */
		border-left: 0;
	}

	/* SERVICES*/
	.services-item:not(:first-child),
	.services-item {
		width: calc((100% - 4%) / 2);
		float: left;
		margin: 0 4% 0 0;
	}
	.services-item:nth-of-type(2n+0) {									/* every 2, reset his margin-right */
	margin-right: 0;
	}
	.services-item:nth-of-type(1n+3) {									/* doesn't break the layout at the top */
	margin-top: 4%;														/* keep the same spacing 'right' */
	}

	/* PORTFOLIO */
	.portfolio {
		width: calc(100% / 2);
	}

	/* BLOG */
	.blog-item {
		width: 48%;
		margin: 0;
	}
	.blog-item:nth-of-type(1n+3) {
		margin-top: 4%;
	}
}

@media (min-width: 768px) {
	/* MODAL */
	.dialog-body {
		padding: 0 20px;
	}
	.dialog-team .dialog-cols {
		float: left;
		width: 40%;
	}
	.dialog-team .dialog-cols:last-child {
		float: right;
		width: 56%;
	}
	
	#carousel_principal .owl-caption {
		padding: 30px%;
		font-size: 1.6rem;
	}
	#carousel_principal .owl-caption strong {
		font-size: 2.5rem;
	}

	/* AGENCY */
	.agency-item {														/* MOBILE: divides columns into 2 */
		float: left;
		width: calc((100% - 4%) / 2);
		margin-right: 4%;
	}
	.agency-item:nth-of-type(2n+0) {									/* every 2 on the line, reset the margin */
		margin-right: 0;
	}

	/* CURIOSITIES */
	.curiosities ul li {
		width: 25%;
	}

	/* CLIENTS */
	.clients ul li:nth-of-type(2n+0),
	.clients ul li {
		width: calc((100% - 6%) / 3);
		margin: 3% 3% 0 0;
	}
	.clients ul li:nth-of-type(3n+0) {
		margin-right: 0;
	}

	/* CONTACT */
	.contact-infos {
		font-size: 2rem;
	}
	.contact-infos span {
		width: 500px;
		font-size: 3.5rem;
	}

	/* FORM */
	.contact-form form div {
		float: left;
		width: 48%;
	}
	.contact-form form div:last-child {
		float: right;
	}

	/* FOOTER */
	.footer-col {
		margin: 0;
		width: calc(100% / 3);
		float: left;
	}
	.footer-col:first-child {											/* first column to the left */
		text-align: left;
	}
	.footer-col:last-child {											/* last column to the right */
		text-align: right;
		padding-top: 5px;
	}
	.footer-redes a {
		margin: 0;
	}
	.footer-redes a:not(:first-child) {
		margin-left: 20px;
	}
}

@media (min-width: 960px) {
	/* MODAL */
	.dialog-portfolio .dialog-cols {
		float: left;
		width: 68%;
	}
	.dialog-portfolio .dialog-cols:last-child {
		float: right;
		width: 30%;
	}

	@keyframes animaHeader {											/* top menu block animation */
		0% {
			opacity: 0;
			transform: translateY(-100%);
			-webkit-transform: translateY(-100%);
		}
		100% {
			opacity: 1;
			transform: translateY(0%);
			-webkit-transform: translateY(0%);
		}
	}
	.fixed {															/* fixed menu at the top */
		position: fixed;
		background: #fff;
		z-index: 20;
		animation: animaHeader .7s ease-in-out .4s backwards;
		-webkit-animation: animaHeader .7s ease-in-out .4s backwards;
	}
	.header-nav {														/* top bar - orange */
		margin-left: 2%;
	}
	.header-nav ul li a.active:before {
		background: #f47933;
		content: "";
		position: absolute;
		height: 6px;
		width: 100%;
		top: -31px;
		left: 0;
	}

	/* AGENCY */
	.agency-item:nth-of-type(2n+0),										/* repeat before using the new styles */
	.agency-item {														/* MOBILE: divide columns into 2 */
		width: calc((100% - 8%) / 3);
		margin-right: 4%;
	}
	.agency-item:nth-of-type(3n+0) {									/* every 3 on the line, reset the margin */
		margin-right: 0;
	}

	/* TEAM */
	.team-list li:nth-of-type(2n+0),
	.team-list li {														/* in big screen stays aligned */
		width: 25%;
	}
	.team-list li:not(:first-child) {
		border-left: 0;
	}
	/*.team-list li:not(:first-child):nth-of-type(1n+0) {				a second alternative: reset the gray bar on the left, except 'Luiz Vieira'
		border-left: 0;
	}*/

	/* PORTFOLIO */
	.portfolio {
		width: calc(100% / 3);
	}
}

@media (min-width: 1024px) {											/* orange top bar spacing */
	.header-nav ul li {
		margin: 0 6px;
	}
}

@media (min-width: 1144px) {
	.header-logo {
		width: auto;
	}
	.header-nav ul li a {
		font-size: 1rem;
	}

	/* CLIENTS */
	.clients ul li:nth-of-type(2n+0),
	.clients ul li:nth-of-type(3n+0),
	.clients ul li {
		width: calc((100% - 15%) / 6);
		margin: 3% 3% 0 0;
	}
	.clients ul li:nth-of-type(6n+0) {
		margin-right: 0;
	}

	/* BLOG */
	.blog-item:nth-of-type(1n+3),
	.blog-item {
		width: calc((100% - 9%) / 4);
		margin: 0;
	}
}

@media (min-width: 1280px) {
	.header-nav ul li {
		margin: 0 8px;
	}
	.header-search {
	width: 260px;
	}
	
	/* SERVICES */
	.services-item:nth-of-type(2n+0),
	.services-item:nth-of-type(1n+3),
	.services-item {
		width: calc((100% - 9%) / 4);
		margin: 0 3% 0 0;
	}
	.services-item:last-child {
		margin-right: 0;
	}
	/*.services-item:nth-of-type(4n+0) {								every 2, reset his margin-right
	margin-right: 0;
	}*/

	/* PORTFOLIO */
	.portfolio {
		width: calc(100% / 4);
	}
}

@media (min-width: 1366px) {
	/* PORTFOLIO */
	.portfolio {
		width: calc(100% / 5);
	}
}