/* CAROUSEL
============================== */

.owl-carousel {
	float: left;
}

.owl-carousel,
.owl-stage-outer,
.owl-stage,
.owl-item,
.owl-lazy {
	height: 100%;
	position: relative;
}

.owl-lazy {
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
}

.owl-prev,											/* next and preview button */
.owl-next {
	position: absolute;
	background: rgba(0,0,0,.5);
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	top: 50%;
	left: 0;
	padding: 20px 12px;
	color: #fff;
}

.owl-prev:hover,									/* next and preview button changes color */
.owl-next:hover {
	background: #f47933;
}

.owl-prev {											/* rounded prev button */
	border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
}
.owl-next {											/* next button is on the right side */
	left: auto;
	right: 0;
	border-radius: 4px 0 0 4px;						/* rounded next button */
	-webkit-border-radius: 4px 0 0 4px;
}

.owl-dots {											/* bottom button bars */
	position: absolute;
	width: 100%;
	z-index: 10;
	bottom: 15px;
	text-align: center;
}

.owl-dots .owl-dot {
	background: #fff;
	display: inline-block;
	width: 35px;
	height: 10px;
	margin: 4px;
}
.owl-dots .owl-dot.active {
	background: #f47933;
}

#carousel_principal {								/* remove header navigation bar, from the main carousel */
	height: calc(100% - 80px);
}

#carousel_principal .owl-caption {					/* central block text on the slides */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	background: rgba(244,121,51,.7);			  /* rgba = transparency */
	border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #fff;
	padding: 10px;
	text-align: center;
}
#carousel_principal .owl-caption strong {			/* <p><strong>Slide 1</strong></p> */
	font-size: 1.5rem;
}

#carousel_witnesses .owl-prev,						/* witnesses: next and preview button */
#carousel_witnesses .owl-next {
	padding: 5px 11px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
#carousel_witnesses .owl-prev {
	left: -50px;
}
#carousel_witnesses .owl-nect {
	right: -50px;
}
#carousel_witnesses .owl-dots {
	position: relative;
	top: 20px;
}

/* CAROUSEL PORTFOLIO */
.carousel_portfolio {
	height: 55vh;
	max-height: 400px;
	min-height: 300px;
	margin-bottom: 30px;
}

.carousel_portfolio .owl-prev,						/* next and preview button */
.carousel_portfolio .owl-next {
	text-align: center;
	padding: 0;
	width: 35px;
	height: 35px;
	line-height: 35px;
	transform: none;								/* remove the 'transform' and 'top' for the arrow to touch down */
	top: auto;
	bottom: 0;
	left: 0;
	border-right: 3px solid #fff;
	border-radius: 0;
}
.carousel_portfolio .owl-next {
	left: 35px;
}
.carousel_portfolio .owl-caption {
	background: rgba(0,0,0,.7);
	position: absolute;
	font-size: 0.8125rem;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	bottom: 0;
	left: 70px;
	width: calc(100% - 70px);						/* the size of each arrow is 35px, and the second +35, so adding = 70, and you have to remove */
}