<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Responsive Layout with Scrolling Nav</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="HTML e CSS Pro" />
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body>
        <div class="container">
            <!-- MENU -->
            <input type="radio" name="radio" id="radio-nav-1" checked="checked" />
            <span>HTML 5</span>

            <input type="radio" name="radio" id="radio-nav-2" />
            <span>CSS 3</span>

            <input type="radio" name="radio" id="radio-nav-3" />
            <span>LESS</span>

            <input type="radio" name="radio" id="radio-nav-4" />
            <span>SASS</span>

            <input type="radio" name="radio" id="radio-nav-5" />
            <span>jQuery</span>

            <!-- SCROLL -->
            <div class="scroll">
                <section class="section" id="section-1">
                    <div class="logo">
                        <span>HTML 5</span>
                    </div>
                    <h2>HTML 5</h2>
                    <p>
                        HTML5 is the latest evolution of the standard that defines HTML. The term represents two
                        different concepts. It is a new version of the language HTML, with new elements, attributes, and
                        behaviors, and a larger set of technologies that allows the building of more diverse and
                        powerful Web sites and applications.
                    </p>
                </section>

                <section class="section" id="section-2">
                    <div class="logo">
                        <span>CSS 3</span>
                    </div>
                    <h2>CSS 3</h2>
                    <p>
                        CSS3 is the latest evolution of the Cascading Style Sheets language and aims at extending
                        CSS2.1. It brings a lot of long-awaited novelties, like rounded corners, shadows, gradients,
                        transitions or animations, as well as new layouts like multi-columns, flexible box or grid
                        layouts.
                    </p>
                </section>

                <section class="section" id="section-3">
                    <div class="logo">
                        <span>LESS</span>
                    </div>
                    <h2>LESS</h2>
                    <p>
                        LESS is a dynamic stylesheet language. LESS extends CSS with dynamic behavior such as variables,
                        mixins, operations and functions. LESS runs on both the client-side (Chrome, Safari, Firefox)
                        and server-side, with Node.js and Rhino.
                    </p>
                </section>

                <section class="section" id="section-4">
                    <div class="logo">
                        <span>SASS</span>
                    </div>
                    <h2>SASS</h2>
                    <p>
                        This is how Sass describes itself in its documentation: Sass is an extension of CSS that adds
                        power and elegance to the basic language. Sass’ ultimate objective is to fix CSS’ flaws. CSS, as
                        we all know, is not the best language in the world.
                    </p>
                </section>

                <section class="section" id="section-5">
                    <div class="logo">
                        <span>jQuery</span>
                    </div>
                    <h2>jQuery</h2>
                    <p>
                        jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as
                        well as event handling, CSS animation, and Ajax. It is free, open-source software using the
                        permissive MIT License.
                    </p>
                </section>
            </div>
        </div>
    </body>

</html>