<!DOCTYPE html>
<html lang="en">

  <head>
    <title>HTML e CSS Pro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <!-- START HEADER -->
    <header class="header">
      <div class="content">
        <div class="logo fl-left">
          <a href="#"><img src="img/logo.png" alt="HTML e CSS Pro">
        </div>

        <a href="#" class="nav-toggle fl-right">
          <i class="fas fa-bars"></i> MENU
        </a>

        <nav class="nav">
          <p class="text-right">
            <span class="nav-close">
              <i class="fas fa-times"></i>
            </span>
          </p>
          <ul>
            <li> <a href="#">Boats and Speedboats</a></li>
            <li> <a href="#">Featured</a></li>
            <li> <a href="#">Witnesses</a></li>
          </ul>
        </nav>

      </div>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- START SEARCH AND STATISTICS -->
    <section class="section">
      <div class="search-box bg-fixed">
        <header>
          <h1>Lorem Ipsum placeholder</h1>
          <p class="tagline">Commonly used in the graphic</p>
        </header>

        <form action="formSearch" method="post" action="">
          <input type="search" name="search" id="search" placeholder="Search" />
          <button type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>

      <div class="statistics">
        <div class="statistics-item">
          <span>2,500</span>
          <p>Lorem</p>
        </div>

        <div class="statistics-item">
          <span>10,00</span>
          <p>Ipsum</p>
        </div>

        <div class="statistics-item">
          <span>1,500</span>
          <p>Dolor</p>
        </div>

        <div class="statistics-item">
          <span>15,000</span>
          <p>Amet</p>
        </div>
      </div>
    </section>
    <!-- END SEARCH AND STATISTICS -->

    <!-- START DESTINATION -->
    <section class="section">
      <div class="content">
        <header class="section-header">
          <h1>CHOOSE YOUR FAVORITE DESTINATION</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
        </header>

        <div class="row">
          <div class="destination-col">
            <div class="box">
              <div class="box-name">Boats</div>
              <div class="box-cover">
                <img src="img/destination-1.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>

          <div class="destination-col">
            <div class="box">
              <div class="box-name">Houses</div>
              <div class="box-cover">
                <img src="img/destination-2.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>

          <div class="destination-col">
            <div class="box">
              <div class="box-name">Speedboats</div>
              <div class="box-cover">
                <img src="img/destination-3.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>

          <div class="destination-col">
            <div class="box">
              <div class="box-name">Houses</div>
              <div class="box-cover">
                <img src="img/destination-4.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>

          <div class="destination-col">
            <div class="box">
              <div class="box-name">Buildings</div>
              <div class="box-cover">
                <img src="img/destination-5.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>

          <div class="destination-col">
            <div class="box">
              <div class="box-name">Boats</div>
              <div class="box-cover">
                <img src="img/destination-6.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>

          <div class="destination-col">
            <div class="box">
              <div class="box-name">Speedboats</div>
              <div class="box-cover">
                <img src="img/destination-7.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>

          <div class="destination-col">
            <div class="box">
              <div class="box-name">Boats</div>
              <div class="box-cover">
                <img src="img/destination-8.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- start load more button -->
        <div class="row">
          <div class="content text-center">
            <button class="loadmore">LOAD MORE</button>
          </div>
        </div>
        <!-- end load more button -->
      </div>
    </section>
    <!-- END DESTINATION -->

    <!-- START PARALLAX -->
    <div class="parallax bg-fixed">
      <div class="content">
        <h1>HAVE YOU FOUND THE FAVORITE BOAT?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
        <button>KNOW MORE</button>
      </div>
    </div>
    <!-- END PARALLAX -->

    <!-- START FEATURED -->
    <section class="section">
      <div class="content">
        <header class="section-header">
          <h1>FEATURED</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </header>

        <div class="row">
          <div class="featured-col">
            <div class="box">
              <div class="box-name">Speedboats</div>
              <div class="box-cover">
                <img src="img/featured-1.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>

          <div class="featured-col">
            <div class="box">
              <div class="box-name">Speedboats</div>
              <div class="box-cover">
                <img src="img/featured-2.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>

          <div class="featured-col">
            <div class="box">
              <div class="box-name">Speedboats</div>
              <div class="box-cover">
                <img src="img/featured-3.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>

          <div class="featured-col">
            <div class="box">
              <div class="box-name">Speedboats</div>
              <div class="box-cover">
                <img src="img/featured-4.jpg" alt="" />
              </div>
              <div class="box-details">
                <div class="box-details-info">
                  <h2>Figueira da Fox</h2>
                  <p>Portugal</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- start load more button -->
        <div class="row">
          <div class="content text-center">
            <button class="loadmore">LOAD MORE</button>
          </div>
        </div>
        <!-- end load more button -->
      </div>
    </section>
    <!-- END FEATURED -->

    <!-- START WITNESSES -->
    <section class="section witnesses bg-fixed">
      <div class="content">
        <header class="section-header">
          <h1>WITNESSES</h1>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </header>

        <article class="witnesses-article">
          <h1>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer
            non faucibus.</h1>
          <span class="image"><img src="img/witnesses-01.jpg" alt=""></span>
          <p>
            <span class="name">Jane Doe</span>
            <span>CEO - Facebook</span>
          </p>
        </article>

        <article class="witnesses-article">
          <h1>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer
            non faucibus.</h1>
          <span class="image"><img src="img/witnesses-02.jpg" alt=""></span>
          <p>
            <span class="name">John Doe</span>
            <span>CEO - Google</span>
          </p>
        </article>

        <article class="witnesses-article">
          <h1>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer
            non faucibus.</h1>
          <span class="image"><img src="img/witnesses-03.jpg" alt=""></span>
          <p>
            <span class="name">Janet Smith</span>
            <span>CEO - Twitter</span>
          </p>
        </article>
      </div>
    </section>
    <!-- END WITNESSES -->

    <!-- START FOOTER -->
    <footer class="footer">
      <div class="content">
        <div class="footer-col">
          <h1>ABOUT THE COMPANY</h1>
          <p align="justify">
            Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
            faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius
            montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum.
            Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet
            praesent. Nunc lacinia ante nunc ac gravida.
          </p>
        </div>

        <div class="footer-col">
          <h1>TEXT LINK</h1>
          <ul class="footer-col-links">
            <li><a href="#">Dolor pulvinar sed etiam.</a></li>
            <li><a href="#">Etiam vel lorem sed amet.</a></li>
            <li><a href="#">Felis enim feugiat viverra.</a></li>
            <li><a href="#">Dolor pulvinar magna etiam.</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h1>SOCIAL</h1>
          <ul class="footer-col-sociais">
            <li><a href="#"> <i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#"> <i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="#"> <i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>

        <div class="row text-center footer-autorais">All Rights Reserved</div>
      </div>
    </footer>
    <!-- END FOOTER -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/script.js"></script>

  </body>

</html>