<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Agency New - HTML e CSS Pro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn in practice to develop a modern template with advanced HTML5 and CSS3 properties." />

    <!-- FONT GOOGLE -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">

    <!-- FONT ICON -->
    <link rel="stylesheet" type="text/css" href="css/fontawesome.all.min.css">

    <!-- CAROUSEL PLUGIN -->
    <link rel='stylesheet' href='css/owl.carousel.min.css'>

    <!-- STYLES -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.carousel.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <!-- START MODAL -->
    <!-- START MODAL TEAM -->
    <div class="dialog">
      <button class="dialog-close">CLOSE <i class="fas fa-times-circle"></i></button>

      <!-- start luiz vieira -->
      <div class="dialog-body dialog-team" id="luiz_vieira">
        <div class="row dialog-body-header">
          <p><strong>Luiz Vieira</strong></p>
          <p><span>Front-end</span></p>
        </div>

        <div class="row">
          <div class="dialog-cols">
            <div class="dialog-team-photo">
              <img src="images/team/luiz-vieira.jpg" alt="">
            </div>

            <div class="dialog-team-social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>

          <div class="dialog-cols">
            <div class="row">
              <p class="dialog-cols-header"><span>Biography</span></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Formation</span></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Experiences</span></p>
              <p>
                <strong>01 Jan 2016</strong><br>
                Company Name 1<br>
                Front-end Developer
              </p>

              <p>
                <strong>01 Feb 2018</strong><br>
                Company Name 2<br>
                Front-end Developer
              </p>

              <p>
                <strong>01 Mar 2020 - (Present)</strong><br>
                Company Name 3<br>
                Front-end Developer
              </p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Skills</span></p>
              <ul class="dialog-team-habilidades">
                <li>
                  <label>SASS <span>60%</span></label>
                  <div><span style="width: 60%"></span></div>
                </li>

                <li>
                  <label>WordPress <span>70%</span></label>
                  <div><span style="width: 70%"></span></div>
                </li>

                <li>
                  <label>CSS3 <span>80%</span></label>
                  <div><span style="width: 80%"></span></div>
                </li>

                <li>
                  <label>HTML5 <span>90%</span></label>
                  <div><span style="width: 90%"></span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end luiz vieira -->

      <!-- start angela maria -->
      <div class="dialog-body dialog-team" id="angela_maria">
        <div class="row dialog-body-header">
          <p><strong>Angela Maria</strong></p>
          <p><span>Art Director</span></p>
        </div>

        <div class="row">
          <div class="dialog-cols">
            <div class="dialog-team-photo">
              <img src="images/team/angela-maria.jpg" alt="">
            </div>

            <div class="dialog-team-social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>

          <div class="dialog-cols">
            <div class="row">
              <p class="dialog-cols-header"><span>Biography</span></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Formation</span></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Experiences</span></p>
              <p>
                <strong>01 Jan 2016</strong><br>
                Company Name 1<br>
                Art Director
              </p>

              <p>
                <strong>01 Feb 2018</strong><br>
                Company Name 2<br>
                Art Director
              </p>

              <p>
                <strong>01 Mar 2020 - (Present)</strong><br>
                Company Name 3<br>
                Art Director
              </p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Skills</span></p>
              <ul class="dialog-team-habilidades">
                <li>
                  <label>HTML5 <span>60%</span></label>
                  <div><span style="width: 60%"></span></div>
                </li>

                <li>
                  <label>JavaScript <span>70%</span></label>
                  <div><span style="width: 70%"></span></div>
                </li>

                <li>
                  <label>Adobe Photoshop <span>80%</span></label>
                  <div><span style="width: 80%"></span></div>
                </li>

                <li>
                  <label>Adobe Illustrator <span>90%</span></label>
                  <div><span style="width: 90%"></span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end angela maria -->

      <!-- start marcos viana -->
      <div class="dialog-body dialog-team" id="marcos_viana">
        <div class="row dialog-body-header">
          <p><strong>Marcos Viana</strong></p>
          <p><span>Managing Director</span></p>
        </div>

        <div class="row">
          <div class="dialog-cols">
            <div class="dialog-team-photo">
              <img src="images/team/marcos-viana.jpg" alt="">
            </div>

            <div class="dialog-team-social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>

          <div class="dialog-cols">
            <div class="row">
              <p class="dialog-cols-header"><span>Biography</span></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Formation</span></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Experiences</span></p>
              <p>
                <strong>01 Jan 2016</strong><br>
                Company Name 1<br>
                Managing Director
              </p>

              <p>
                <strong>01 Feb 2018</strong><br>
                Company Name 2<br>
                Managing Director
              </p>

              <p>
                <strong>01 Mar 2020 - (Present)</strong><br>
                Company Name 3<br>
                Managing Director
              </p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Skills</span></p>
              <ul class="dialog-team-habilidades">
                <li>
                  <label>Visionary leadership <span>60%</span></label>
                  <div><span style="width: 60%"></span></div>
                </li>

                <li>
                  <label>PR and presentation skills <span>70%</span></label>
                  <div><span style="width: 70%"></span></div>
                </li>

                <li>
                  <label>Strong financial acumen <span>80%</span></label>
                  <div><span style="width: 80%"></span></div>
                </li>

                <li>
                  <label>Communication and negotiation <span>90%</span></label>
                  <div><span style="width: 90%"></span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end marcos viana -->

      <!-- start patricia souza -->
      <div class="dialog-body dialog-team" id="patricia_souza">
        <div class="row dialog-body-header">
          <p><strong>Patricia Souza</strong></p>
          <p><span>Finance Department</span></p>
        </div>

        <div class="row">
          <div class="dialog-cols">
            <div class="dialog-team-photo">
              <img src="images/team/patricia-souza.jpg" alt="">
            </div>

            <div class="dialog-team-social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>

          <div class="dialog-cols">
            <div class="row">
              <p class="dialog-cols-header"><span>Biography</span></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Formation</span></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Experiences</span></p>
              <p>
                <strong>01 Jan 2016</strong><br>
                Company Name 1<br>
                Finance Department
              </p>

              <p>
                <strong>01 Feb 2018</strong><br>
                Company Name 2<br>
                Finance Department
              </p>

              <p>
                <strong>01 Mar 2020 - (Present)</strong><br>
                Company Name 3<br>
                Finance Department
              </p>
            </div>

            <div class="row">
              <p class="dialog-cols-header"><span>Skills</span></p>
              <ul class="dialog-team-habilidades">
                <li>
                  <label>Financial reporting <span>60%</span></label>
                  <div><span style="width: 60%"></span></div>
                </li>

                <li>
                  <label>Knowledge of IT software <span>70%</span></label>
                  <div><span style="width: 70%"></span></div>
                </li>

                <li>
                  <label>Management experience <span>80%</span></label>
                  <div><span style="width: 80%"></span></div>
                </li>

                <li>
                  <label>Analytical ability <span>90%</span></label>
                  <div><span style="width: 90%"></span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end patricia souza -->
      <!-- END MODAL TEAM -->

      <!-- START MODAL PORTFOLIO -->
      <!-- start portfolio - job 1 -->
      <div class="dialog-body dialog-portfolio" id="job_1">
        <div class="dialog-cols">
          <div class="owl-carousel carousel_portfolio">
            <div class="owl-lazy" data-src="images/portfolio/1.jpg">
              <!-- owl-caption: central text block on the slides -->
              <div class="owl-caption">
                <p>Lorem Ipsum is simply</p>
              </div>
            </div>
            <div class="owl-lazy" data-src="images/portfolio/2.jpg">
              <div class="owl-caption">
                <p>Lorem Ipsum is standard</p>
              </div>
            </div>
            <div class="owl-lazy" data-src="images/portfolio/3.jpg">
              <div class="owl-caption">
                <p>Lorem Ipsum is scrambled</p>
              </div>
            </div>
            <div class="owl-lazy" data-src="images/portfolio/4.jpg">
              <div class="owl-caption">
                <p>Lorem Ipsum is centuries</p>
              </div>
            </div>
          </div>
        </div>

        <div class="dialog-cols">
          <div class="row">
            <p class="dialog-cols-header"><span>Project Description</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
          </div>

          <div class="row">
            <p class="dialog-cols-header"><span>Project Details</span></p>
            <ul>
              <li><strong>Client:</strong> Angry Criative</li>
              <li><strong>Date:</strong> 07 Jul 2020</li>
              <li><strong>URL:</strong> www.angrycriative.com</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end portfolio - job 1 -->

      <!-- start portfolio - job 2 -->
      <div class="dialog-body dialog-portfolio" id="job_2">
        <div class="dialog-cols">
          <div class="owl-carousel carousel_portfolio">
            <div class="owl-lazy" data-src="images/portfolio/1.jpg">
              <!-- owl-caption: central text block on the slides -->
              <div class="owl-caption">
                <p>Lorem Ipsum is simply</p>
              </div>
            </div>
            <div class="owl-lazy" data-src="images/portfolio/2.jpg">
              <div class="owl-caption">
                <p>Lorem Ipsum is standard</p>
              </div>
            </div>
            <div class="owl-lazy" data-src="images/portfolio/3.jpg">
              <div class="owl-caption">
                <p>Lorem Ipsum is scrambled</p>
              </div>
            </div>
            <div class="owl-lazy" data-src="images/portfolio/4.jpg">
              <div class="owl-caption">
                <p>Lorem Ipsum is centuries</p>
              </div>
            </div>
          </div>
        </div>

        <div class="dialog-cols">
          <div class="row">
            <p class="dialog-cols-header"><span>Project Description</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
          </div>

          <div class="row">
            <p class="dialog-cols-header"><span>Project Details</span></p>
            <ul>
              <li><strong>Client:</strong> Angry Criative</li>
              <li><strong>Date:</strong> 07 Jul 2020</li>
              <li><strong>URL:</strong> www.angrycriative.com</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end portfolio - job 2 -->

      <!-- start portfolio - job 3 -->
      <div class="dialog-body dialog-portfolio" id="job_3">
        <div class="dialog-cols">
          <div class="owl-carousel carousel_portfolio">
            <div class="owl-lazy" data-src="images/portfolio/1.jpg">
              <!-- owl-caption: central text block on the slides -->
              <div class="owl-caption">
                <p>Lorem Ipsum is simply</p>
              </div>
            </div>
            <div class="owl-lazy" data-src="images/portfolio/2.jpg">
              <div class="owl-caption">
                <p>Lorem Ipsum is standard</p>
              </div>
            </div>
            <div class="owl-lazy" data-src="images/portfolio/3.jpg">
              <div class="owl-caption">
                <p>Lorem Ipsum is scrambled</p>
              </div>
            </div>
            <div class="owl-lazy" data-src="images/portfolio/4.jpg">
              <div class="owl-caption">
                <p>Lorem Ipsum is centuries</p>
              </div>
            </div>
          </div>
        </div>

        <div class="dialog-cols">
          <div class="row">
            <p class="dialog-cols-header"><span>Project Description</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
          </div>

          <div class="row">
            <p class="dialog-cols-header"><span>Project Details</span></p>
            <ul>
              <li><strong>Client:</strong> Angry Criative</li>
              <li><strong>Date:</strong> 07 Jul 2020</li>
              <li><strong>URL:</strong> www.angrycriative.com</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end portfolio - job 3 -->
      <!-- END MODAL PORTFOLIO -->
    </div>
    <!-- END MODAL -->

    <!-- START HEADER -->
    <header class="row header">
      <h1 class="font-zero">HTML5 and CSS3 Course in Practice - HTML and CSS Pro</h1>
      <div class="content">
        <div class="header-logo">
          <a href="#" title="Agency New" class="back-top">
            <img src="images/agency_new_logo.png" alt="Agency New" />
          </a>
        </div>

        <!-- 3 bars mobile menu -->
        <a href="#" id="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <!-- header-collapse: shows the mobile menu -->
        <div class="header-collapse">
          <nav class="header-nav">
            <h1 class="font-zero">Navigation</h1>
            <ul>
              <li><a href="#home" title="Home" class="active">Home</a></li>
              <li><a href="#agency" title="Agency">Agency</a></li>
              <li><a href="#team" title="Team">Team</a></li>
              <li><a href="#services" title="Services">Services</a></li>
              <li><a href="#witnesses" title="Witnesses">Witnesses</a></li>
              <li><a href="#portfolio" title="Portfolio">Portfolio</a></li>
              <li><a href="#blog" title="Blog">Blog</a></li>
              <li><a href="#contact" title="Contact">Contact</a></li>
            </ul>
          </nav>

          <div class="header-search">
            <form>
              <input type="search" name="search" placeholder="SEARCH" />
              <button type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>

          <div class="header-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>

      </div>
    </header>
    <!-- END HEADER -->

    <!-- START CAROUSEL PRINCIPAL -->
    <div class="owl-carousel" id="carousel_principal">
      <div class="owl-lazy" data-src="images/slide1.jpg">
        <!-- owl-caption: central text block on the slides -->
        <div class="owl-caption">
          <p><strong>Slide 1</strong></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>

      <div class="owl-lazy" data-src="images/slide2.jpg">
        <div class="owl-caption">
          <p><strong>Slide 2</strong></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>

      <div class="owl-lazy" data-src="images/slide3.jpg">
        <div class="owl-caption">
          <p><strong>Slide 3</strong></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>

      <div class="owl-lazy" data-src="images/slide4.jpg">
        <div class="owl-caption">
          <p><strong>Slide 4</strong></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
    </div>
    <!-- END CAROUSEL PRINCIPAL -->

    <!-- START AGENCY -->
    <section class="section" id="agency">
      <header class="section-header">
        <div class="content">
          <h1><span>Agency</span></h1>
          <p class="tagline">
            It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </header>

      <div class="row agency">
        <div class="content">
          <div class="agency-title">
            <p>WE ARE SPECIALIZED IN DEVELOPING</p>
            <p><strong>POWERFUL WEBSITES FOR BIG COMPANIES</strong></p>
          </div>

          <section class="agency-item">
            <div class="agency-item-icon">
              <i class="fas fa-paper-plane"></i>
            </div>
            <h2>Innovation</h2>
            <p>
              It has survived not only five centuries, but also the leap
              into electronic typesetting, remaining essentially unchanged.
            </p>
          </section>

          <section class="agency-item">
            <div class="agency-item-icon">
              <i class="fas fa-flask"></i>
            </div>
            <h2>Try It</h2>
            <p>
              It has survived not only five centuries, but also the leap
              into electronic typesetting, remaining essentially unchanged.
            </p>
          </section>

          <section class="agency-item">
            <div class="agency-item-icon">
              <i class="fas fa-thumbs-up"></i>
            </div>
            <h2>Perfection</h2>
            <p>
              It has survived not only five centuries, but also the leap
              into electronic typesetting, remaining essentially unchanged.
            </p>
          </section>

        </div>
      </div>
    </section>
    <!-- END AGENCY -->

    <!-- START CURIOSITIES -->
    <div class="row curiosities">
      <div class="content">
        <p>See some curiosities about our agency</p>
        <ul>
          <li>
            <span>700</span>
            <label>Ordered pizzas</label>
          </li>
          <li>
            <span>110</span>
            <label>Happy customers</label>
          </li>
          <li>
            <span>150</span>
            <label>Work in progress</label>
          </li>
          <li>
            <span>800</span>
            <label>Completed works</label>
          </li>
        </ul>
      </div>
    </div>
    <!-- END CURIOSITIES -->

    <!-- START TEAM -->
    <section class="section" id="team">
      <header class="section-header">
        <div class="content">
          <h1><span>Team</span></h1>
          <p class="tagline">
            It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </header>

      <div class="row team">
        <div class="content">
          <ul class="team-list">
            <li>
              <div class="team-photo">
                <div class="team-photo-hover">
                  <div>
                    <span>Front-end</span>
                    <p><a href="#luiz_vieira" class="dialog-open">View Profile</a></p>
                  </div>
                </div>
                <img src="images/team/luiz-vieira.jpg" alt="Luiz Vieira" title="Luiz Vieira" />
              </div>
              <p class="team-title">
                <strong>Luiz Vieira</strong>
              </p>
            </li>

            <li>
              <div class="team-photo">
                <div class="team-photo-hover">
                  <div>
                    <span>Art Director</span>
                    <p><a href="#angela_maria" class="dialog-open">View Profile</a></p>
                  </div>
                </div>
                <img src="images/team/angela-maria.jpg" alt="Angela Maria" title="Angela Maria" />
              </div>
              <p class="team-title">
                <strong>Angela Maria</strong>
              </p>
            </li>

            <li>
              <div class="team-photo">
                <div class="team-photo-hover">
                  <div>
                    <span>Managing Director</span>
                    <p><a href="#marcos_viana" class="dialog-open">View Profile</a></p>
                  </div>
                </div>
                <img src="images/team/marcos-viana.jpg" alt="Marcos Viana" title="Marcos Viana" />
              </div>
              <p class="team-title">
                <strong>Marcos Viana</strong>
              </p>
            </li>

            <li>
              <div class="team-photo">
                <div class="team-photo-hover">
                  <div>
                    <span>Finance Department</span>
                    <p><a href="#patricia_souza" class="dialog-open">View Profile</a></p>
                  </div>
                </div>
                <img src="images/team/patricia-souza.jpg" alt="Patricia Souza" title="Patricia Souza" />
              </div>
              <p class="team-title">
                <strong>Patrícia Souza</strong>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- END TEAM -->

    <!-- START SERVICES -->
    <section class="section" id="services">
      <header class="section-header">
        <div class="content">
          <h1><span>Services</span></h1>
          <p class="tagline">
            It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </header>

      <div class="row services">
        <div class="content">
          <section class="services-item design">
            <header>
              <i class="fas fa-pencil-alt"></i>
              <h2>Design</h2>
            </header>
            <div class="content">
              <p>Into electronic typesetting, remaining essentially unchanged.</p>
              <p><strong>We offer</strong></p>
              <ul>
                <li>ipsum</li>
                <li>consectetur</li>
                <li>exercitation</li>
              </ul>
              <a href="#">Learn more</a>
            </div>
          </section>

          <section class="services-item estrategia">
            <header>
              <i class="fas fa-chart-line"></i>
              <h2>Strategy</h2>
            </header>
            <div class="content">
              <p>Into electronic typesetting, remaining essentially unchanged.</p>
              <p><strong>We offer</strong></p>
              <ul>
                <li>ipsum</li>
                <li>consectetur</li>
                <li>exercitation</li>
              </ul>
              <a href="#">Learn more</a>
            </div>
          </section>

          <section class="services-item digital">
            <header>
              <i class="fas fa-laptop"></i>
              <h2>Digital</h2>
            </header>
            <div class="content">
              <p>Into electronic typesetting, remaining essentially unchanged.</p>
              <p><strong>We offer</strong></p>
              <ul>
                <li>ipsum</li>
                <li>consectetur</li>
                <li>exercitation</li>
              </ul>
              <a href="#">Learn more</a>
            </div>
          </section>

          <section class="services-item marketing">
            <header>
              <i class="fas fa-comments"></i>
              <h2>Marketing</h2>
            </header>
            <div class="content">
              <p>Into electronic typesetting, remaining essentially unchanged.</p>
              <p><strong>We offer</strong></p>
              <ul>
                <li>ipsum</li>
                <li>consectetur</li>
                <li>exercitation</li>
              </ul>
              <a href="#">Learn more</a>
            </div>
          </section>
        </div>
      </div>
    </section>
    <!-- END SERVICES -->

    <!-- START WITNESSES -->
    <section class="section" id="witnesses">
      <header class="section-header">
        <div class="content">
          <h1><span>Witnesses</span></h1>
          <p class="tagline">
            It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </header>

      <div class="row witnesses">
        <div class="content">
          <div class="owl-carousel" id="carousel_witnesses">
            <article class="witnesses-item">
              <div class="witnesses-photo">
                <img src="images/witnesses/luiz-vieira.jpg" alt="Luiz Vieira" title="Luiz Vieira" />
              </div>
              <div class="witnesses-info">
                <header>
                  <h2>Luiz Vieira<span>Front-end</span></h2>
                  <i class="fas fa-quote-right"></i>
                </header>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
              </div>
            </article>

            <article class="witnesses-item">
              <div class="witnesses-photo">
                <img src="images/witnesses/angela-maria.jpg" alt="Angela Maria" title="Angela Maria" />
              </div>
              <div class="witnesses-info">
                <header>
                  <h2>Angela Maria<span>Art Director</span></h2>
                  <i class="fas fa-quote-right"></i>
                </header>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
              </div>
            </article>

            <article class="witnesses-item">
              <div class="witnesses-photo">
                <img src="images/witnesses/marcos-viana.jpg" alt="Marcos Viana" title="Marcos Viana" />
              </div>
              <div class="witnesses-info">
                <header>
                  <h2>Marcos Viana<span>Managing Director</span></h2>
                  <i class="fas fa-quote-right"></i>
                </header>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
              </div>
            </article>

            <article class="witnesses-item">
              <div class="witnesses-photo">
                <img src="images/witnesses/patricia-souza.jpg" alt="Patricia Souza" title="Patricia Souza" />
              </div>
              <div class="witnesses-info">
                <header>
                  <h2>Patricia Souza<span>Finance Department</span></h2>
                  <i class="fas fa-quote-right"></i>
                </header>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <!-- END WITNESSES -->

    <!-- START PORTFOLIO -->
    <section class="section" id="portfolio">
      <header class="section-header">
        <div class="content">
          <h1><span>Portfolio</span></h1>
          <p class="tagline">
            It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </header>

      <div class="row">
        <ul class="portfolio-nav">
          <li><a href="#" id="all" class="active">All</a></li>
          <li><a href="#" id="websites">Websites</a></li>
          <li><a href="#" id="systems">Systems</a></li>
          <li><a href="#" id="design">Design</a></li>
          <li><a href="#" id="logos">Logos</a></li>
        </ul>
      </div>

      <div class="row">
        <div class="portfolio visible websites design logos">
          <div class="portfolio-hover">
            <div>
              <strong>Job 01</strong>
              <label>Websites, Design, Logos</label>
              <a href="#job_1" class="dialog-open"><i class="far fa-eye"></i></a>
            </div>
          </div>
          <img src="images/portfolio/1.jpg" alt="">
        </div>

        <div class="portfolio visible systems logos">
          <div class="portfolio-hover">
            <div>
              <strong>Job 02</strong>
              <label>Systems, Logos</label>
              <a href="#job_2" class="dialog-open"><i class="far fa-eye"></i></a>
            </div>
          </div>
          <img src="images/portfolio/2.jpg" alt="">
        </div>

        <div class="portfolio visible systems design websites">
          <div class="portfolio-hover">
            <div>
              <strong>Job 03</strong>
              <label>Systems, Design, Websites</label>
              <a href="#job_3" class="dialog-open"><i class="far fa-eye"></i></a>
            </div>
          </div>
          <img src="images/portfolio/3.jpg" alt="">
        </div>

        <div class="portfolio visible design websites">
          <div class="portfolio-hover">
            <div>
              <strong>Job 04</strong>
              <label>Design, Websites</label>
              <a href="#job_4" class="dialog-open"><i class="far fa-eye"></i></a>
            </div>
          </div>
          <img src="images/portfolio/4.jpg" alt="">
        </div>

        <div class="portfolio visible systems websites">
          <div class="portfolio-hover">
            <div>
              <strong>Job 05</strong>
              <label>Systems, Websites</label>
              <a href="#job_5" class="dialog-open"><i class="far fa-eye"></i></a>
            </div>
          </div>
          <img src="images/portfolio/5.jpg" alt="">
        </div>

        <div class="portfolio visible websites logos design">
          <div class="portfolio-hover">
            <div>
              <strong>Job 06</strong>
              <label>Websites, Logos, Design</label>
              <a href="#job_6" class="dialog-open"><i class="far fa-eye"></i></a>
            </div>
          </div>
          <img src="images/portfolio/6.jpg" alt="">
        </div>

        <div class="portfolio visible logos design">
          <div class="portfolio-hover">
            <div>
              <strong>Job 07</strong>
              <label>Logos, Design</label>
              <a href="#job_7" class="dialog-open"><i class="far fa-eye"></i></a>
            </div>
          </div>
          <img src="images/portfolio/7.jpg" alt="">
        </div>

        <div class="portfolio visible websites logos design">
          <div class="portfolio-hover">
            <div>
              <strong>Job 08</strong>
              <label>Websites, Logos, Design</label>
              <a href="#job_8" class="dialog-open"><i class="far fa-eye"></i></a>
            </div>
          </div>
          <img src="images/portfolio/8.jpg" alt="">
        </div>

        <div class="portfolio visible websites logos design">
          <div class="portfolio-hover">
            <div>
              <strong>Job 09</strong>
              <label>Websites, Logos, Design</label>
              <a href="#job_9" class="dialog-open"><i class="far fa-eye"></i></a>
            </div>
          </div>
          <img src="images/portfolio/9.jpg" alt="">
        </div>

        <div class="portfolio visible websites logos design">
          <div class="portfolio-hover">
            <div>
              <strong>Job 10</strong>
              <label>Websites, Logos, Design</label>
              <a href="#job_10" class="dialog-open"><i class="far fa-eye"></i></a>
            </div>
          </div>
          <img src="images/portfolio/10.jpg" alt="">
        </div>

      </div>
    </section>
    <!-- END PORTFOLIO -->

    <!-- START CLIENTS -->
    <div class="row clients">
      <div class="content">
        <p>Some of our clients</p>
        <ul>
          <li><i class="fab fa-angrycreative"></i></li>
          <li><i class="fab fa-windows"></i></li>
          <li><i class="fab fa-wordpress"></i></li>
          <li><i class="fab fa-weibo"></i></li>
          <li><i class="fab fa-wpbeginner"></i></li>
          <li><i class="fab fa-xbox"></i></li>
        </ul>
      </div>
    </div>
    <!-- END CLIENTS -->

    <!-- START BLOG -->
    <section class="section" id="blog">
      <header class="section-header">
        <div class="content">
          <h1><span>Blog</span></h1>
          <p class="tagline">
            It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </header>

      <div class="row blog">
        <div class="content">
          <article class="blog-item">
            <div class="blog-item-thumb">
              <span>01 Aug 2020</span>
              <span><i class="fas fa-comment-dots"></i> 10</span>
              <img src="images/blog/1.png" alt="">
            </div>
            <div class="content">
              <h2>Static and dynamic sites</h2>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged.</p>
              <p class="blog-link"><a href="#">Read more</a></p>
            </div>
          </article>

          <article class="blog-item">
            <div class="blog-item-thumb">
              <span>02 Sep 2020</span>
              <span><i class="fas fa-comment-dots"></i> 10</span>
              <img src="images/blog/2.png" alt="">
            </div>
            <div class="content">
              <h2>CSS terms and definitions</h2>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged.</p>
              <p class="blog-link"><a href="#">Read more</a></p>
            </div>
          </article>

          <article class="blog-item">
            <div class="blog-item-thumb">
              <span>03 Oct 2020</span>
              <span><i class="fas fa-comment-dots"></i> 10</span>
              <img src="images/blog/3.jpg" alt="">
            </div>
            <div class="content">
              <h2>What is HTML?</h2>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged.</p>
              <p class="blog-link"><a href="#">Read more</a></p>
            </div>
          </article>

          <article class="blog-item">
            <div class="blog-item-thumb">
              <span>04 Nov 2020</span>
              <span><i class="fas fa-comment-dots"></i> 10</span>
              <img src="images/blog/4.png" alt="">
            </div>
            <div class="content">
              <h2>HTML history</h2>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged.</p>
              <p class="blog-link"><a href="#">Read more</a></p>
            </div>
          </article>
        </div>
      </div>
    </section>
    <!-- END BLOG -->

    <!-- START CONTACT -->
    <section class="section" id="contact">
      <header class="section-header">
        <div class="content">
          <h1><span>Contact</span></h1>
          <p class="tagline">
            It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </header>

      <div class="row contact-infos">
        <div class="content">
          <p>contact@agencynew.com</p>
          <p><span>11 0202 0204</span></p>
          Street Example, 100<br> São Paulo - SP
        </div>
      </div>

      <div class="row contact-form">
        <div class="content">
          <p><i class="fab fa-wpforms"></i></p>
          <form>
            <div>
              <!-- name/email/checkbox inside a div - message/submit in other -->
              <label>
                <span>Name</span>
                <input type="text" name="nome" />
              </label>
              <label>
                <span>E-mail</span>
                <input type="email" name="email" />
              </label>
              <label>
                <input type="checkbox" name="checkbox" />
                <span>Do you want to receive news and promotions?</span>
              </label>
            </div>
            <div>
              <label>
                <span>Message</span>
                <textarea name="mensagem"></textarea>
              </label>
              <button type="submit">
                <i class="far fa-envelope"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- END CONTACT -->

    <!-- START FOOTER -->
    <!-- need to put 'row' to not damage the background when customizing the css -->
    <footer class="row footer">
      <div class="content">
        <div class="footer-col footer-redes">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <div class="footer-col footer-logo">
          <a href="#" class="back-top">
            <img src="images/agency_new_logo_footer.png" alt="">
          </a>
        </div>

        <div class="footer-col">
          <p>All rights reserved</p>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->

    <script src='js/jquery.min.js'></script>
    <script src='js/owl.carousel.min.js'></script>
    <script src="js/script.js"></script>

  </body>

</html>